In [ ]:
a= 'My name is Durgesh'
print(a)

My name is Durgesh

In [ ]:
# Length of charactars
len(a)

18

In [ ]:
# Count any specific charactar occurence in my String
a.count('e')

2

In [ ]:
a ='Bangalore'

In [ ]:
print(a)

Bangalore

In [ ]:
a=5
# value 5 in my variable a
if a>6: # False
  print('Yes')
else:
  print('No')

No

In [ ]:
# Search in a String
# ITEM NAME , COST
Item_Name = 'Macbook Pro 5'
# Pro
# 3 Letters
if 'Pro' in Item_Name: # 3 -- 'Pro' # False
  print('Yes') # Yes
else:
  print('No')

In [ ]:
a= 14
b= 16
c= 17
# Print largest of all 3
if a>b and a>c:
  print('A is largest')
elif b>a and b>c:
  print('B is largest')
else:
  print('C is largest')

In [ ]:
number1 = int(input('Enter yout number 1: ')) # '15' # 15
number2 = int(input('Enter yout number 2: '))
c= number1+number2
print('Total of number1 and number2 is :', c)

Enter yout number 1: 345
Enter yout number 2: 123
Total of number1 and number2 is : 468

In [ ]:
# A number from the User and you have to check that number is divisible by 5 or not ?

In [ ]:
a = int(input("Enter your number:"))
if a%5 == 0:
  print('Yes')
else:
  print('No')

Enter your number:15
Yes